#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-bottom: 60px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
  margin-bottom: 20px;
  width: 500px;
}

.login input {
  text-align: center;
  margin-bottom: 60px;
  font-size: 1.5rem;
}

form button {
  border: none;
  background-color: black;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.5rem;
}

form button:hover {
  cursor: pointer;
  filter: brightness(120%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

form button:active {
  box-shadow: none;
}